<ion-view view-title="{{'Edit_user' | translate}} {{user.username}}">
  <ion-content>
    <div class="o_userProfileBackground">
        <img ng-src="{{user.avatar}}" class="o_userImgCircular"
        ng-click="selectAvatar()"/>
        <h3 class="o_text_white">{{user.username}}</h3>
        <p>
            <input ng-model="user.description" class="o_transparentInput"
            placeholder="{{'Description' | translate}}">
        </p>
        <p>
            <input ng-model="user.email" class="o_transparentInput"
            placeholder="{{'Email' | translate}}">
        </p>
        <p>
            @<input ng-model="user.telegram" class="o_transparentInput"
            placeholder="{{'Telegram' | translate}}">
        </p>
        <p>
            <input ng-model="user.localNode" class="o_transparentInput"
            placeholder="{{'LocalNode' | translate}}">
        </p>

        <p ng-show="storageuser._id==user._id">
            <a class="button o_purple300" ng-click="update()">
                {{'Save_changes' | translate}}
            </a>
        </p>
    </div>
    <div class="item">
      FairCoin Address:
      <p>
          <input ng-model="user.faircoinString" class="o_transparentInputBlack"
          placeholder="{{'FaircoinWallet' | translate}}">
      </p>
        <img src="{{user.faircoin}}" style="width: 100%;"
         ng-click="selectFaircoinPublicKey()" />
    </div>
  </ion-content>
</ion-view>
