<ion-view view-title="{{'Edit Travel' | translate}}">
  <ion-content>
      <div class="padding">
          <label class="item item-input">
            <span class="input-label">{{'Title' | translate}}</span>
            <input type="text" ng-model="travel.title">
          </label>
          <div layout="row">
              <label class="item item-input">
                <span class="input-label">{{'From' | translate}}</span>
                <input type="text" ng-model="travel.from.name">
              </label>
              <label class="item item-input">
                <span class="input-label">{{'To' | translate}}</span>
                <input type="text" ng-model="travel.to.name">
              </label>
          </div>
      </div><!-- end of padding -->
      <a ng-click="getGeo()" ng-show="travel.from.name && travel.to.name"
      class="button o_purple300">{{'Get_positions' | translate}}</a>

      <leaflet ng-show="markers[0]"
      width="100%" height="40%" markers="markers" center="center"
      tiles="tiles" id="map-simple-map"></leaflet>

      <div class="padding" ng-show="markers[0]">
          <label class="item item-input" ng-show="travel.seats">
            <span class="input-label">{{'n_Seats' | translate}}</span>
            <input ng-model="travel.seats" type="number">
          </label>

          <label class="item-input">
              <span class="input-label">{{'Date' | translate}}</span>
              <input ng-model="travel.date" type="date" placeholder="">
          </label>
          <label class="item-input">
              <span class="input-label">{{'Hour' | translate}}</span>
              <input ng-model="travel.date" type="time" placeholder="">
          </label>
          <ion-toggle ng-show="travel.package" ng-model="travel.package" toggle-class="toggle-calm">
              <i class="icon ion-ios-box"></i>
              {{'Can_carry_package' | translate}}
          </ion-toggle>
          <ion-toggle ng-show="travel.collectivized" ng-model="travel.collectivized" toggle-class="toggle-calm">
              {{'Collectivized_car' | translate}}
          </ion-toggle>
          <label class="item item-input">
            <span class="input-label">{{'Description' | translate}}</span>
            <input type="text" ng-model="travel.description">
          </label>
          <p class="padding">
            <a ng-click="updateTravel()" class="button o_purple400 o_floatRight">
               {{'Update Travel' | translate}}
           </a>
          </p>
      </div><!-- end of padding -->
  </ion-content>
</ion-view>
