<ion-view view-title="{{'Help' | translate}}">
  <ion-content class="padding">
    <p>
      (help instructions here)
    </p>
    <p>
      This is a car sharing App.
    </p>
    <p>
      The main concept of the app, is sharing offers to share travels in car.
      <br>
      There are <b>3 types of publication</b>:
    </p>
    <p>
      <ul class="list">
        <li class="item">
          <h4>Travel offer</h4>
          <img ng-src="img/offering.png" class="o-img-new"/>
          For example: I'm going with my car to a place, in my car can go more people.
        </li>
        <li class="item">
          <h4>Travel ask</h4>
          <img ng-src="img/package.png" class="o-img-new"/>
          For example: I need to travel a place, can somebody take me there?
        </li>
        <li class="item">
          <h4>Package send ask</h4>
          <img ng-src="img/asking.png" class="o-img-new"/>
          For example: I need to send some package to a place, can somebody carry it to there?
        </li>
      </ul>
    </p>
    <p>
      To <b>create a new publication</b>, just need to go in to 'Travels' section in the main menu, and select one of the 3 top buttons:
      <img ng-src="img/newpackage.png" class="o-img-new"/>
      <img ng-src="img/newasking.png" class="o-img-new"/>
      <img ng-src="img/newoffering.png" class="o-img-new"/>
    </p>
    <br><br>
    <p>(not finished yet)...</p>
  </ion-content>
</ion-view>
