<ion-view view-title="{{'Help' | translate}}">
  <ion-content>
    <h1>{{'Help' | translate}}</h1>
    <p>
      help instructions here
    </p>
    <p>
      <img ng-src="img/newpackage.png" class="o-img-new"/>
      <img ng-src="img/newasking.png" class="o-img-new"/>
      <img ng-src="img/newoffering.png" class="o-img-new"/>
    </p>
    <p>
      <img ng-src="img/package.png" class="o-img-new"/>
      <img ng-src="img/asking.png" class="o-img-new"/>
      <img ng-src="img/offering.png" class="o-img-new"/>
    </p>
  </ion-content>
</ion-view>
