<ion-view view-title="{{'Help' | translate}}">
  <ion-content class="padding">
    <p>
      (not ready yet)
    </p>
    <p>
      This is a car sharing App.
    </p>
    <p>
      The main concept of the app, is sharing offers to share travels in car.
      <br>
      There are <b>3 types of publication</b>:
    </p>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Offer">
        <md-content class="md-padding">
            <div class="card">
              <div class="item item-divider o_purple500">
                <i class="icon ion-android-car"></i> Travel offer
              </div>
              <div class="item item-text-wrap">
                For example: I'm going with my car to a place, in my car can go more people.
              </div>
            </div>
        </md-content>
      </md-tab>
      <md-tab label="Ask">
        <md-content class="md-padding">
            <div class="card">
              <div class="item item-divider o_purple400">
                 <i class="icon ion-help"></i> Travel ask
              </div>
              <div class="item item-text-wrap">
                For example: I need to travel a place, can somebody take me there?
              </div>
            </div>
        </md-content>
      </md-tab>
      <md-tab label="Package">
        <md-content class="md-padding">
            <div class="card">
              <div class="item item-divider o_purple300">
                 <i class="icon ion-ios-box"></i> Package send ask
              </div>
              <div class="item item-text-wrap">
                For example: I need to send some package to a place, can somebody carry it to there?
              </div>
            </div>
        </md-content>
      </md-tab>
    </md-tabs>



    <p>
      To <b>create a new publication</b>, just need to click the 'New Travel' button on the right of top menu,
      and select wich type of publication is.

    </p>
    <br><br>
    <p>(not finished yet)...</p>
  </ion-content>
</ion-view>
