<ion-modal-view>
  <ion-content>
      <img src="img/header.png" style="width:100%;"/>
    <form ng-submit="doLogin()">
      <div class="list padding">
          <md-input-container class="md-block" flex-gt-sm>
            <label>{{'Username' | translate}}</label>
            <input ng-model="loginData.username">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>{{'Password' | translate}}</label>
            <input ng-model="loginData.password" type="password">
          </md-input-container>
        <div>
            <md-button class="o_purple100" ng-href="#/app/signup">{{'Signup' | translate}}</md-button>
            <md-button class="o_purple300 o_floatRight" ng-click="doLogin()">{{'Login' | translate}}</md-button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
