<ion-modal-view>
  <ion-content class="o_loginBackground">
    <div>
      <div class="o_loginDivForm">
        <h1>Cars in Common</h1>

        <span class="item-note">v0.0.1</span>
        <br><br>
        <p>
            <i class="icon ion-person"></i>
            <input ng-model="loginData.username" class="o_loginInput"
            placeholder="{{'Username' | translate}}">
        </p>
        <br>
        <p>
            <i class="icon ion-locked"></i>
            <input ng-model="loginData.password" class="o_loginInput"
            placeholder="{{'Password' | translate}}" style="-webkit-text-security: disc;">
        </p>
        <br>
        <p>
            <a class="o_loginButton button button-block" ng-click="doLogin()">
                {{'LOG_IN' | translate}}
            </a>
        </p>
        <br>
        <p>

            <a class="o_signupLink" ng-href="#/app/signup">
                {{'Not_account_yet?' | translate}} {{'Create one' | translate}}
            </a>
        </p>
        <!--<p>
            <a class="o_loginButton button button-block" ng-href="#/app/signup">
                {{'Signup' | translate}}
            </a>
        </p>
        <div class="bar bar-footer o_transparentBackground">
            <a class="button o_purple300 pull-right" ng-href="#/app/signup">
                <i class="icon ion-android-person-add"></i>
                {{'SIGN UP' | translate}}
            </a>
        </div>-->
      </div>
    </div>
  </ion-content>
</ion-modal-view>
