<ion-view view-title="Main">
  <ion-content>
      <a ng-href="#/app/travels" class="item item-icon-left o_bGreenDark">
        <i class="icon ion-android-car"></i>
        Travels
      </a>
      <a href="#/app/users" class="item item-icon-left o_bBlue">
        <i class="icon ion-person-stalker"></i>
        Users
      </a>
      <a href="#/app/settings" class="item item-icon-left o_bOrange">
      <i class="icon ion-settings"></i>
        Settings
      </a>
      <a href="#/app/help" class="item item-icon-left">
        <i class="icon ion-ios-help-outline"></i>
        Help
      </a>
  </ion-content>
</ion-view>
