<ion-view view-title="Main">
  <ion-content class="has-footer">
      <a ng-href="#/app/users/{{storageuser._id}}" class="item item-avatar o_purpleG300to500">
        <!--<i class="icon ion-person"></i>-->
        <img ng-src="{{storageuser.avatar}}">
        {{storageuser.username}} {{'profile' | translate}}
        <p style="color:#ffffff;">
            {{storageuser.travels.length}} {{'travels' | translate }},
            {{storageuser.likes.length}} {{'likes' | translate }}
        </p>
      </a>
      <a ng-href="#/app/newTravel" class="item item-icon-left o_purpleG300to500">
        <i class="icon ion-map"></i>
        {{'New_travel' | translate}}
      </a>
      <a ng-href="#/app/search" class="item item-icon-left o_purpleG300to500">
        <i class="icon ion-search"></i>
        {{'Search' | translate }}
      </a>
      <a ng-href="#/app/travels" class="item item-icon-left o_purpleG300to500">
        <i class="icon ion-android-pin"></i>
        {{'Travels_feed' | translate }}
      </a>
      <a href="#/app/users" class="item item-icon-left o_purpleG300to500">
        <i class="icon ion-person-stalker"></i>
        {{'Users' | translate }}
      </a>
      <a href="#/app/notifications" class="item item-icon-left o_purpleG300to500">
        <i class="icon ion-android-notifications"></i>
        {{'Notifications' | translate }}
        <span class="badge o_purple300">{{storageuser.notifications.length}}</span>
      </a>
      <a href="#/app/settings" class="item item-icon-left o_purpleG300to500">
      <i class="icon ion-settings"></i>
        {{'Settings' | translate }}
      </a>
      <!--<a href="#/app/help" class="item item-icon-left o_purpleG300to500">
      <i class="icon ion-ios-paper-outline"></i>
        {{'FAQ' | translate }}
      </a>
      <a href="#/app/help" class="item item-icon-left o_purpleG300to500">
        <i class="icon ion-ios-help-outline"></i>
        {{'Help' | translate }}
    </a>-->
  </ion-content>
</ion-view>
