<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-calm">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-positive">
      <h1 class="title">{{'Menu' | translate }}</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ng-click="signup()" ng-show="!storageusername">
            {{'Signup' | translate }}
        </ion-item>
        <ion-item menu-close ng-click="login()" ng-show="!storageusername">
          {{'Login' | translate }}
        </ion-item>
        <ion-item menu-close href="#/app/travels">
            <img class='o-imgMenu' src="img/road.png" />
          {{'Travels' | translate }}
        </ion-item>
        <ion-item menu-close href="#/app/users">
            <img class='o-imgMenu' src="img/users.png" />
          {{'Users' | translate }}
        </ion-item>
        <ion-item menu-close href="#/app/users/{{storageusername}}" ng-show="storageusername">
            <img class='o-imgMenu' ng-src="img/avatars/{{storageavatar}}.png" />
          {{storageusername}}
        </ion-item>
        <ion-item menu-close href="#/app/settings">
            <img class='o-imgMenu' src="img/settings.png" />
          {{'Settings' | translate }}
        </ion-item>
        <ion-item menu-close ng-click="logout()" ng-show="storageusername">
          {{'Logout' | translate }}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
