<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar o_text_purple500" ng-show="storageuser">
      <ion-nav-back-button class="o_text_purple500">
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon o_text_purple500" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
    <!-- menu footer -->
    <div class="tabs tabs-icon-left" style="position:absolute;"
    ng-controller="FooterMenuCtrl" ng-show="storageuser">
      <a class="tab-item" ng-href="#/app/notifications">
        <i class="icon ion-android-notifications-none"></i> {{'Notifications' | translate }}
      </a>
      <a class="tab-item" ng-href="#/app/main">
        <i class="icon ion-home"></i> {{'Home' | translate }}
      </a>
      <a ng-href="#/app/newTravel" class="tab-item">
        <i class="icon ion-map"></i> {{'New_travel' | translate }}
      </a>
    </div>
    <!-- /menu footer -->
  </ion-side-menu-content>

  <ion-side-menu side="left" class="o_bSidenav">
    <ion-header-bar class="bar-stable o_bSidenav">
      <h1 class="title">{{'Menu' | translate }}</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <a class="item item-icon-left o_bSidenav" menu-close ng-href="#/app/main">
          <i class="icon ion-home"></i> {{'Main' | translate }}
        </a>
        <a class="item item-icon-left o_bSidenav" menu-close ng-href="#/app/users/{{storageuser._id}}">
          <i class="icon ion-person"></i> {{storageuser.username}}
        </a>
        <a class="item item-icon-left o_bSidenav" menu-close ng-href="#/app/search">
          <i class="icon ion-search"></i> {{'Search' | translate }}
        </a>
        <a class="item item-icon-left o_bSidenav" menu-close ng-href="#/app/travels">
          <i class="icon ion-android-car"></i> {{'Travels_feed' | translate }}
        </a>
        <a class="item item-icon-left o_bSidenav" menu-close ng-href="#/app/users">
          <i class="icon ion-person-stalker"></i> {{'Users' | translate }}
        </a>
        <a class="item item-icon-left o_bSidenav" menu-close ng-href="#/app/notifications">
          <i class="icon ion-android-notifications-none"></i>
          {{'Notifications' | translate }}
          <span class="badge o_purple300">{{storageuser.notifications.length}}</span>
        </a>
        <a class="item item-icon-left o_bSidenav" menu-close ng-href="#/app/settings">
          <i class="icon ion-settings"></i> {{'Settings' | translate }}
        </a>
        <a class="item item-icon-left o_bSidenav" menu-close ng-href="#/app/help">
          <i class="icon ion-ios-help-outline"></i> {{'Help' | translate }}
        </a>
        <a class="item item-icon-left o_bSidenav" menu-close ng-click="logout()">
          <i class="icon ion-power"></i> {{'Logout' | translate }}
        </a>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
