<ion-view view-title="New Publication">
  <ion-content>
      <a ng-href="#/app/offerCar" class="item item-icon-left o_bBlue">
        <i class="icon ion-android-car"></i>
        Offer Car
      </a>
      <a href="#/app/dashboard" class="item item-icon-left o_bGreen">
        <i class="icon ion-help"></i>
        Ask for Car
      </a>
      <a href="#/app/marks/{{storageuser._id}}" class="item item-icon-left o_bOrange">
      <i class="icon ion-ios-box"></i>
        Ask for Package
    </a>
  </ion-content>
</ion-view>
