<ion-view view-title="New Travel">
  <ion-content class="has-footer">
      <a ng-href="#/app/offerCar" class="item item-icon-left o_purple500">
        <i class="icon ion-android-car"></i>
        Offer Car
      </a>
      <a href="#/app/askCar" class="item item-icon-left o_purple400">
        <i class="icon ion-help"></i>
        Ask for Car
      </a>
      <a href="#/app/askPackage" class="item item-icon-left o_purple300">
      <i class="icon ion-ios-box"></i>
        Ask for Package
    </a>
  </ion-content>
</ion-view>
