<ion-view view-title="{{'Notifications' | translate}}">
  <ion-content class="has-footer">
      <ion-refresher
        pulling-text="{{'Pull_to_refresh' | translate}}..."
        on-refresh="doRefresh()">
      </ion-refresher>
      <a ng-repeat="notification in notifications | orderBy: '-date'"
      class="item item-icon-left" href="#/app/{{notification.link}}">
        <i class="icon ion-android-notifications-none"></i>
        <h2>{{notification.message}}</h2>
        <div class="item-note text-right">
            <div class="o_text_purple600">{{notification.date | date:"dd/MM"}}</div>
            <div class="o_text_purple600">{{notification.date | date:"HH:mm:ss"}}</div>
        </div>
      </a>
  </ion-content>
</ion-view>
