<ion-view view-title="Offer Car">
  <ion-content class="has-footer">
      <div class="padding">
          <md-input-container class="md-block" flex-gt-sm>
            <label>{{'Title' | translate}}</label>
            <input ng-model="newtravel.title">
          </md-input-container>
          <div layout="row">
              <md-input-container>
                <label>{{'From' | translate}}</label>
                <input ng-model="newtravel.from.name">
              </md-input-container>
              <md-input-container>
                <label>{{'To' | translate}}</label>
                <input ng-model="newtravel.to.name">
              </md-input-container>
          </div>
      </div><!-- end of padding -->
      <md-button ng-click="getGeo()" ng-show="newtravel.from.name && newtravel.to.name"
      class="o_purple300">Get positions</md-button>

      <leaflet ng-show="markers[0]"
      width="100%" height="40%" markers="markers" center="center"
      tiles="tiles" id="map-simple-map"></leaflet>

      <div class="padding" ng-show="markers[0]">
          <md-input-container class="md-block" flex-gt-sm>
            <label>{{'n_Seats' | translate}}</label>
            <input ng-model="newtravel.seats" type="number">
          </md-input-container>

          <label class="item-input">
              <span class="input-label">{{'Date' | translate}}</span>
              <input ng-model="newtravel.date" type="date" placeholder="">
          </label>
          <label class="item-input">
              <span class="input-label">{{'Hour' | translate}}</span>
              <input ng-model="newtravel.date" type="time" placeholder="">
          </label>
          <ion-toggle ng-model="newtravel.package" toggle-class="toggle-calm">
              <img class='o-imgMenu' src="img/package.png" />
              {{'Can_carry_package' | translate}}
          </ion-toggle>
          <ion-toggle ng-model="newtravel.collectivized" toggle-class="toggle-calm">
              {{'Collectivized_car' | translate}}
          </ion-toggle>
          <md-input-container class="md-block" flex-gt-sm>
            <label>{{'Description' | translate}}</label>
            <input ng-model="newtravel.description">
          </md-input-container>
          <p class="padding">
            <md-button ng-click="createTravel()" class="o_purple400 o_floatRight">
               {{'Create_travel' | translate}}
           </md-button>
          </p>
      </div><!-- end of padding -->
  </ion-content>
</ion-view>
