<ion-view view-title="{{'Change_password' | translate}}">
  <ion-content>
    <div class="list">
      <label class="item item-input">
    <span class="input-label">{{'Old_Password' | translate}}</span>
    <input ng-model="newPassword.old" type="password" placeholder="{{'Old_Password' | translate}}" style="-webkit-text-security: disc;">
  </label>
      <label class="item item-input">
    <span class="input-label">{{'New_Password' | translate}}</span>
    <input ng-model="newPassword.new1" type="password" placeholder="{{'New_Password' | translate}}" style="-webkit-text-security: disc;">
  </label>
  <label class="item item-input">
<span class="input-label">{{'New_Password' | translate}}</span>
<input ng-model="newPassword.new2" type="password" placeholder="{{'Repeat_New_Password' | translate}}" style="-webkit-text-security: disc;">
</label>
    </div>
    <div ng-click="changePassword()" class="button button-block c_deepPurple200">
        {{'Change_password' | translate}}
    </div>
    <!--<div class="button button-block c_deepPurple200">
        Feature not ready yet
    </div>-->
  </ion-content>
</ion-view>
