<ion-view view-title="{{'Settings' | translate}}">
  <ion-content>
    <label class="item item-input item-select">
    <div class="input-label">
      {{'Actual_language' | translate}}
    </div>
    <select ng-model="lang" ng-change="langChange(this.lang)">
      <option value="english">english</option>
      <option value="catalan">català</option>
    </select>
  </label>
  <p>
    {{'version' | translate}}: CommonRoutes-v0.1
  </p>
  Security:
  <a ng-href="#/app/password" class="button button-small c_deepPurple200">
      {{'Change_password' | translate}}
  </a>
  </ion-content>
</ion-view>
