<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{'Signup' | translate }}</h1>
  </ion-header-bar>
  <ion-content>
      <div class="list">
          <label class="item item-input">
            <span class="input-label">{{'Username' | translate}}*</span>
            <input type="text" ng-model="signupData.username">
          </label>
          <label class="item item-input">
            <span class="input-label">{{'Password' | translate}}*</span>
            <input type="password" ng-model="signupData.password">
          </label>
          <label class="item item-input">
            <span class="input-label">{{'Email' | translate}}*</span>
            <input type="text" ng-model="signupData.email">
          </label>
          <label class="item item-input">
            <span class="input-label">{{'Phone' | translate}}</span>
            <input type="number" ng-model="signupData.phone">
          </label>
          <label class="item item-input">
            <span class="input-label">{{'Telegram' | translate}}</span>
            @<input type="text" ng-model="signupData.telegram">
          </label>
          <label class="item item-input">
            <span class="input-label">{{'Description' | translate}}*</span>
            <input type="text" ng-model="signupData.description">
          </label>
          <label class="item item-text-wrap ctext_red400">
              <b>Telegram</b> nickname and <b>phone</b> will be public for other users.
          </label>
        <div>
            <a class="button o_purple100" ng-href="#/app/login">{{'Cancel' | translate}}</a>
            <a class="button o_purple300 o_floatRight" ng-click="doSignup()">{{'Signup' | translate}}</a>
        </div>
      </div>
  </ion-content>
</ion-modal-view>
