<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{'Signup' | translate }}</h1>
  </ion-header-bar>
  <ion-content>
      <div class="padding">
          <md-input-container class="md-block" flex-gt-sm>
            <label>{{'Username' | translate}}</label>
            <input ng-model="signupData.username">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>{{'Password' | translate}}</label>
            <input type="password" ng-model="signupData.password">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>{{'Email' | translate}}</label>
            <input ng-model="signupData.email">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>{{'Phone' | translate}}</label>
            <input type="number" ng-model="signupData.phone">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>{{'Telegram' | translate}}</label>
            <input ng-model="signupData.telegram">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>{{'Description' | translate}}</label>
            <input ng-model="signupData.description">
          </md-input-container>
        <div>
            <md-button class="o_purple100" ng-href="#/app/login">{{'Cancel' | translate}}</md-button>
            <md-button class="o_purple300 o_floatRight" ng-click="doSignup()">{{'Signup' | translate}}</md-button>
        </div>
      </div>
  </ion-content>
</ion-modal-view>
