<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{'Signup' | translate }}</h1>
    <div class="buttons">
      <button class="button button-dark" ng-click="closeSignup()">{{'Close' | translate }}</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doSignup()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">{{'Username' | translate }}</span>
          <input type="text" ng-model="signupData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">{{'Password' | translate }}</span>
          <input type="password" ng-model="signupData.password">
        </label>
        <label class="item item-input">
          <span class="input-label">{{'Mail' | translate }}</span>
          <input type="email" ng-model="signupData.mail">
        </label>
        <label class="item item-input">
          <span class="input-label">{{'Phone' | translate }}</span>
          <input type="number" ng-model="signupData.phone">
        </label>
        <label class="item item-input">
          <span class="input-label">{{'Telegram' | translate }}</span>
          <input type="text" ng-model="signupData.telegram">
        </label>
        <label class="item item-input">
          <span class="input-label">{{'Avatar' | translate }}</span>
          <input type="text" ng-model="signupData.avatar">
        </label>

        <label class="item">
          <button class="button button-block button-positive" type="submit">{{'Signup' | translate }}</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
