<ion-view view-title="Travels">
  <ion-content>
      <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="doRefresh()">
      </ion-refresher>
    <div class="list">
        <div class="o-float-right" ng-show="storageusername">
            <a ng-click="showNewAskingPackage()" class="button icon ion-email"></a>
            <a ng-click="showNewAskingTravel()" class="button icon ion-help"></a>
            <a ng-click="showNewOfferingTravel()" class="button icon ion-plus"></a>
        </div>

        <a ng-repeat="travel in travels | orderBy: 'date'" class="item item-avatar" href="#/app/travels/{{travel._id}}">
          <img ng-src="img/{{travel.modality}}.png">
          <h2>{{travel.title}}</h2>
          <div class="item-note">
              <div class="positive">{{travel.date | date:"dd/MM HH:mm a"}}</div>
              <div class="badge badge-calm">{{travel.owner}}</div>
          </div>
          <p>
              {{travel.description}}
          </p>
          <p class="" ng-show="travel.modality=='offering'">nºseats: {{travel.seats}}</p>
          <p class="" ng-show="travel.modality=='asking'">nºpeople: {{travel.seats}}</p>

        </a>
    </div>
  </ion-content>
</ion-view>
