<ion-view view-title="{{'Travels' | translate}}">
  <ion-content>
      <ion-refresher
        pulling-text="{{'Pull_to_refresh' | translate}}..."
        on-refresh="doRefresh()">
      </ion-refresher>
    <div class="list">
        <div>
            <div class="o-float-right" ng-show="storageusername">
                <a ng-click="showNewAskingPackage()" class="button"><img ng-src="img/newpackage.png" class="o-img-new"/></a>
                <a ng-click="showNewAskingTravel()" class="button"><img ng-src="img/newasking.png" class="o-img-new"/></a>
                <a ng-click="showNewOfferingTravel()" class="button"><img ng-src="img/newoffering.png" class="o-img-new"/></a>
            </div>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="{{'search' | translate}}..." ng-model="search">
            </label>
        </div>

        <div class="card" ng-show="!travels">
          <div class="item item-text-wrap">
            {{'No_data_in_memory' | translate}}<br>
            {{'Pull_from_top_to_refresh' | translate}}
          </div>
        </div>
        <a ng-repeat="travel in travels | orderBy: 'date' | filter: search" class="item item-avatar" href="#/app/travels/{{travel._id}}">
          <img ng-src="img/{{travel.modality}}.png"/>
          <h2>{{travel.title}}</h2>
          <div class="item-note text-right">
              <div class="positive">{{travel.date | date:"dd/MM"}}</div>
              <div class="positive">{{travel.date | date:"HH:mm"}}h</div>
              <!--<div class="badge badge-calm">{{travel.owner}}</div>-->
          </div>
          <p>
              {{travel.description}}
          </p>
          <!--<p class="" ng-show="travel.modality=='offering'">nºseats: {{travel.seats}}</p>
          <p class="" ng-show="travel.modality=='asking'">nºpeople: {{travel.seats}}</p>-->
          <p class="">{{travel.from}} - {{travel.to}}</p>
        </a>
    </div>
  </ion-content>
</ion-view>
