<ion-view view-title="Travel">
  <ion-content>
    <div class="item item-avatar">
        <img ng-src="img/{{travel.modality}}.png" />
        <div class="item-note o-text-right">
            <a class="badge badge-calm" href="#/app/users/{{travel.owner}}">{{travel.owner}}</a>
        </div>
        <h2>{{travel.title}}</h2>
        <div class="">{{travel.date | date:"dd/MM HH:mm a"}}</div>
    </div>
    <div class="item item-body">
        <div class='o-float-right o-text-right'>
            <span class="badge badge-balanced" ng-show="travel.collectivized">Collectivized</span>

            <br>
            <div class="o-mini-text" ng-show="travel.package">
                <div ng-show="travel.modality=='offering'">can carry package <img src="img/package.png" class="o-imgMenu" /></div>
                <div ng-show="travel.modality=='asking'">need to carry package <img src="img/package.png" class="o-imgMenu" /></div>
            </div>
        </div>
        <p><img class='o-imgTitle' src="img/from-to.png" />{{travel.from}} - {{travel.to}}</p>
        <p>
            <div ng-show="travel.modality=='offering'">nº car seats: {{travel.seats}}</div>
            <div ng-show="travel.modality=='asking'">nº people: {{travel.seats}}</div>
        </p>
        <p class="o-bold">{{travel.description}}</p>
        <br>
        <p>
            <img class='o-imgMenu' src="img/smartphone.png" /> {{travel.phone}}
        </p>
        <p>
            <img class='o-imgMenu' src="img/telegram.png" /> {{travel.telegram}}
        </p>

        <div ng-show="storageusername">
            <p class='text-right' ng-show="storageusername!==travel.owner">
                <a ng-show="travel.modality=='offering'" href="#" class="button button-calm o-pull-right">Ask to join</a>
                <a ng-show="travel.modality=='asking'" href="#" class="button button-calm o-pull-right">Offer car</a>
                <a ng-show="travel.modality=='package'" href="#" class="button button-calm o-pull-right">Offer car</a>
            </p>
            <p ng-show="storageusername==travel.owner" class="text-right">
                <a href="#" class="button button-assertive o-pull-right">Delete</a>
            </p>
        </div>
    </div>
  </ion-content>
</ion-view>
