<ion-view view-title="{{'Users' | translate}}">
  <ion-content>
      <ion-refresher
        pulling-text="{{'Pull_to_refresh' | translate}}..."
        on-refresh="doRefresh()">
      </ion-refresher>
    <div class="list">
      <div class="card" ng-show="!users">
        <div class="item item-text-wrap">
          {{'No_data_in_memory' | translate}}<br>
          {{'Pull_from_top_to_refresh' | translate}}
        </div>
      </div>

        <a ng-repeat="user in users | orderBy: 'date'" class="item item-avatar" ng-href="#/app/users/{{user._id}}">
          <img ng-src="{{user.avatar}}">
          <h2 class="o_text_purple600">{{user.username}}</h2>
          <p>
              {{user.description}}
          </p>
        </a>
    </div>
    <ion-infinite-scroll
    ng-if="loadMorePagination"
    on-infinite="paginationNext()"
    distance="1%">
  </ion-infinite-scroll>
  </ion-content>
</ion-view>
