<ion-view view-title="{{'User' | translate}} {{user.username}}">
  <ion-content class="has-footer">
      <ion-refresher
        pulling-text="{{'Pull_to_refresh' | translate}}..."
        on-refresh="doRefresh()">
      </ion-refresher>
    <div class="o_userProfileBackground">
        <img ng-src="{{user.avatar}}" class="o_userImgCircular" />
        <h3 class="o_text_white">{{user.username}}</h3>
        <p>{{user.description}}</p>
        <p>{{user.email}}</p>

        <p><a class="button button-small" ng-href="#/app/users/userLikes/{{user._id}}">
            {{'view_likes' | translate}}
        </a></p>
        <p ng-show="storageuser._id==user._id">
            <md-button class="o_grey500" ng-href="#/app/editUser">{{'Edit_profile' | translate}}</md-button>
        </p>
    </div>
    <div class="">
        <div class="row">
          <a class="tab-item" ng-show="user.telegram"
          ng-href="http://telegram.me/{{user.telegram}}">
              <i class="icon ion-paper-airplane"></i>
              @{{user.telegram}}
          </a>
          <a class="tab-item" ng-href="#/app/users/userTravels/{{user._id}}">
              <i class="icon ion-android-car"></i>
              {{user.travels.length}} {{'Travels' | translate}}
          </a>
          <a class="tab-item" ng-show="arrayObjectIndexOf(user.likes, storageuser._id)==-1">
              <i class="icon ion-heart" ng-click="likeUser()"></i>
              <i ng-href="#/app/users/userLikes/{{user._id}}">
                  {{user.likes.length}} {{'likes' | translate}}
              </i>
          </a>
          <a class="tab-item" ng-show="arrayObjectIndexOf(user.likes, storageuser._id)>-1">
              <i class="icon ion-heart-broken" ng-click="unlikeUser()"></i>
              <i ng-href="#/app/users/userLikes/{{user._id}}">
                  {{user.likes.length}} {{'likes' | translate}}
              </i>
          </a>
        </div>
    </div>
    <div class="item">
        <img src="{{user.faircoin}}" style="width: 100%;" />
    </div>
    <!--<div class="item item-body">
        {{'current_publications_of' | translate}} {{user.username}}:
        <div class="o_text_purple600">{{user.travels.length}} {{'publications' | translate}}</div>

        <a ng-repeat="travel in user.travels | orderBy: 'date'" class="item item-avatar" href="#/app/travels/{{travel._id}}">
          <img ng-src="img/{{travel.type}}.png">
          <h2>{{travel.title}}
              <div class="item-note">
                  <div class="o_text_purple400">{{travel.date | date:"HH:mm a"}}</div>
                  <div class="o_text_purple400">{{travel.date | date:"dd/MM/yyyy"}}</div>
              </div>
          </h2>

          <div class="item-note">
              <p class="" ng-show="travel.modality=='offering'">{{'n_Seats' | translate}}: {{travel.seats}}</p>
              <p class="" ng-show="travel.modality=='asking'">{{'n_People' | translate}}: {{travel.seats}}</p>
          </div>
          <p>
              {{travel.description}}
          </p>
        </a>
    </div>-->
  </ion-content>
</ion-view>
