.o_noPaddingMargin{
    padding: 0!important;
    margin: 0!important;
}
.o_mainRow{
    height: calc(100%/4);
}
.o_floatRight{
    float: right;
}
.o_userProfileBackground{
    min-height: 30%!important;
    width: 100%;
    min-height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url('../img/userProfileBackground.png');
    text-align: center;
    /*color: white;*/

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: #ffffff;
}
.o_userImgCircular {
    margin-top: 5%;
    background: #ffffff;
	width: 40%;
    border: 4px #ffffff solid;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	/*background: url(http://link-to-your/image.jpg) no-repeat;*/
}
.o_userImgCircular p{
    color: #ffffff!important;
}
/*
    SISTEMA DE COLORS

    users: blue
    routines: red
    diets: yellow

    la nomenclatura és:
    o_bColor
    la 'o' és de 'own', per saber que és una classe pròpia nostra i que no colisioni amb les classes dels frameworks css
    la 'b' és de background, si és una 'f' és de font
    a part podem posar ColorDark o ColorLight per fer un color més fosc o més clar
*/
.o_bSidenav{
    background: #ffffff!important;
    color: #616161!important;
}
.o_fWhiteLight{
    color: #c6ccd2!important;
}
.o_bGrey{
  background: #e6e6e6!important;
  color: #000000!important;
}
.o_bGreyLight{
  background: #CFD8DC!important;
  color: #000000!important;
}
/* backgrounds color: bColor */
.o_bRed{
    background: rgb(252,87,85)!important;
    color: #ffffff!important;
}
.o_bRedLight{
    background: #E57373!important;
    color: #ffffff!important;
}
.o_bRedDark{
    background: rgb(218, 89, 120)!important;
    color: #ffffff!important;
}
.o_bGreen{
    background: rgb(123,195,70)!important;
    color: #ffffff!important;
}
.o_bGreenLight{
    background: #81C784!important;
    color: #ffffff!important;
}
.o_bGreenDark{
    background: rgb(54,188,155)!important;
    color: #ffffff!important;
}
.o_bBlue{
    background: rgb(104,195,240)!important;
    color: #ffffff!important;
}
.o_bBlueDark{
    background: rgb(72,118,180)!important;
    color: #ffffff!important;
}
.o_bYellow{
    background: rgb(251,187,61)!important;
    color: #ffffff!important;
}
.o_bYellowDark{
    background: #F9A825!important;
    color: #ffffff!important;
}
.o_bOrange{
    background: rgb(251, 126, 61)!important;
    color: #ffffff!important;
}
.o_bOrangeDark{
    background: #FF7043!important;
    color: #ffffff!important;
}
/*.o_bPurple{
    background: #9575CD!important;
    color: #ffffff!important;
}
.o_bPurpleDark{
    background: #512DA8!important;
    color: #ffffff!important;
}*/

.o_purple50{
    background: #EDE7F6!important;
    color: #000000!important;
}
.o_purple100{
    background: #D1C4E9!important;
    color: #000000!important;
}
.o_purple200{
    background: #B39DDB!important;
    color: #000000!important;
}
.o_purple300{
    background: #9575CD!important;
    color: #ffffff!important;
}
.o_purple400{
    background: #7E57C2!important;
    color: #ffffff!important;
}
.o_purple500{
    background: #673AB7!important;
    color: #ffffff!important;
}
.o_purple600{
    background: #5E35B1!important;
    color: #ffffff!important;
}
.o_purple700{
    background: #512DA8!important;
    color: #ffffff!important;
}
.o_purple800{
    background: #4527A0!important;
    color: #ffffff!important;
}
.o_purple900{
    background: #311B92!important;
    color: #ffffff!important;
}


.o_purpleG000to200{
    background: -moz-linear-gradient(0deg, #ffffff 0%, #D1C4E9 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffffff), color-stop(100%, #D1C4E9)); /* safari4+,chrome */
    background: -webkit-linear-gradient(0deg, #ffffff 0%, #D1C4E9 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(0deg, #ffffff 0%, #D1C4E9 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(0deg, #ffffff 0%, #D1C4E9 100%); /* ie10+ */
    background: linear-gradient(90deg, #ffffff 0%, #D1C4E9 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#D1C4E9',GradientType=1 ); /* ie6-9 */
}
.o_purpleG500to300{
    background: -moz-linear-gradient(219deg, #9575CD 0%, #673AB7 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #673AB7), color-stop(100%, #9575CD)); /* safari4+,chrome */
    background: -webkit-linear-gradient(219deg, #9575CD 0%, #673AB7 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(219deg, #9575CD 0%, #673AB7 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(219deg, #9575CD 0%, #673AB7 100%); /* ie10+ */
    background: linear-gradient(231deg, #9575CD 0%, #673AB7 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#673AB7', endColorstr='#9575CD',GradientType=1 ); /* ie6-9 */
    color: #ffffff!important;
}
.o_purpleG300to500{
    background: -moz-linear-gradient(42deg, #9575CD 0%, #673AB7 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #9575CD), color-stop(100%, #673AB7)); /* safari4+,chrome */
    background: -webkit-linear-gradient(42deg, #9575CD 0%, #673AB7 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(42deg, #9575CD 0%, #673AB7 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(42deg, #9575CD 0%, #673AB7 100%); /* ie10+ */
    background: linear-gradient(48deg, #9575CD 0%, #673AB7 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9575CD', endColorstr='#673AB7',GradientType=1 ); /* ie6-9 */
    color: #ffffff!important;
}


.o_text_white{
    color: #ffffff!important;
}
.o_text_purple400{
    color: #7E57C2!important;
}
.o_text_purple500{
    color: #673AB7!important;
}
.o_text_purple600{
    color: #5E35B1!important;
}
.o_text_purple700{
    color: #512DA8!important;
}
.o_text_purple800{
    color: #4527A0!important;
}
